@import "../../variables";

.mainContainer {
	display: flex;
	width: 100%;

	.title {
		border: none;
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h2 {
		font-size: 3rem;
		font-weight: 600;
		color: var(--black);
	}
}

.gridContainer {
	display: grid;
	grid-template-rows: auto;
	gap: 1.5rem;
	margin: var(--spacing2) 0;
	grid-template-columns: repeat(8, 1fr);
	height: 100%;
}

@media (min-width: $media-query-xs) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: $media-query-sm) {
	.container {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: $media-query-md) {
	.container {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media (min-width: $media-query-lg) {
	.container {
		grid-template-columns: repeat(8, 1fr);
	}
}
