%background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item {
  @extend %background;
  cursor: pointer;
  text-align: center;
  width: 150px;
  height: 150px;
  transition: all 0.4s ease-in-out;
  background-blend-mode: multiply;
  background-color: #ffffff00;
  border: 2px solid transparent;

  &:hover {
    transition: all 0.4s ease-in-out;
    background-blend-mode: multiply;
    background-color: #bc6707;
    border: 2px solid #bc6707;

    .itemInfo {
      opacity: 1;
      transition: all 0.4s ease-in-out;
    }
  }
}

.itemInfo {
  padding: var(--spacing3);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  color: var(--white);
  opacity: 0;
  text-align: left;
  transition: all 0.4s ease-in-out;
}

.name {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Outfit";
  text-transform: uppercase;
}

.category {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 300;
}

.price {
  font-size: 1rem;
  font-weight: 700;
}
