.container {
  padding: var(--spacing3) var(--spacing7);
  text-align: center;

  button {
    margin: var(--spacing2) 0;
    font-size: 1.5rem;
    font-weight: 600;
    padding: var(--spacing3);
  }
}
