:root {
	// colors
	--white: #ffffff;
	--black: #25242b;
	--gray: #c4c4c4;
	--green: #e1e9d1;
	--pink: #ffe4e9;
	--blue: #94a8bb;
	--light-blue: #e4ecf3;
	--beige: #ac9988;
	--dark-green: #64806b;
	--dark-pink: #6b2949;
	// spacing
	--spacing1: 4px;
	--spacing2: 8px;
	--spacing3: 16px;
	--spacing4: 24px;
	--spacing5: 32px;
	--spacing6: 20px;
	--spacing7: 40px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
#root,
.App {
	min-height: 100vh;
	box-sizing: border-box;
}

.App {
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
	margin-top: calc(3 * var(--spacing5));
}

button {
	border: none;
	min-width: var(--spacing3);
	min-height: var(--spacing3);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	padding: var(--spacing2);
	border-radius: var(--spacing2);
	background-color: var(--green);

	&:hover {
		box-shadow: var(--spacing1) var(--spacing1) var(--blue);
		background-color: var(--pink);
	}
}
