:root {
  // colors
  --white: #ffffff;
  --black: #25242b;
  --gray: #c4c4c4;
  --green: #e1e9d1;
  --pink: #ffe4e9;
  --blue: #94a8bb;
  --beige: #ac9988;
  --dark-green: #64806b;
  // spacing
  --spacing1: 4px;
  --spacing2: 8px;
  --spacing3: 16px;
  --spacing4: 24px;
  --spacing5: 32px;
  --spacing6: 20px;
  --spacing7: 20px;
}

*,
html,
body,
#root {
  box-sizing: border-box;
}

button {
  border: none;
  min-width: var(--spacing3);
  min-height: var(--spacing3);
  cursor: pointer;
  padding: var(--spacing1);
  transition: all 0.3s ease-in-out;
  box-shadow: var(--spacing1) var(--spacing1) transparent;
  background-color: transparent;

  &:hover {
    box-shadow: var(--spacing1) var(--spacing1) var(--pink);
    background-color: var(--green);
  }
}
