.container {
	padding: var(--spacing3) var(--spacing6);
	display: flex;

	h2 {
		margin: 0;
	}
}

.sidebar {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: var(--spacing5);

	h3 {
		font-size: 3rem;
		text-transform: capitalize;
		font-weight: 600;
		color: var(--black);
		padding: var(--spacing5);
		text-align: center;
		letter-spacing: calc(var(--spacing1) * -0.5);
	}
	p {
		cursor: pointer;
		margin: var(--spacing2) var(--spacing5);
		padding: var(--spacing2);
		border-radius: var(--spacing2);
	}
}

.mainGrid {
	flex: 2;

	.gridContainer {
		height: 50rem;
	}
}
